# 🛠️ Terraform
*.tfstate                 # 🌪️ Terraform state files
*.tfstate.*               # 🌪️ Temporary Terraform state files
*.tfvars                  # 🔒 Sensitive variable files
.terraform/               # 📂 Terraform working directory
crash.log                 # ⚠️ Crash logs
override.tf               # 🛠️ Override configurations
override.tf.json          # 🛠️ Override configurations in JSON
terraform.tfstate.backup  # 🔙 Backup of the Terraform state
*.tfplan                  # 📊 Terraform plan files
*.backup                  # 🔄 Backup files

# 🔑 Sensitive files
terraform.tfvars          # 🔒 Do not share sensitive variable files
.terraform.lock.hcl       # 🔒 Terraform dependency lock file

# 🐍 Python 
__pycache__/              # 🗃️ Python cache files
*.py[cod]                 # 🐍 Compiled Python files
*.pyo                      # 🐍 Optimized Python files
*.pyd                      # 🐍 Windows DLL files
.Python                   # 🐍 Python virtual environment
env/                      # 🌱 Virtual environment folder
venv/                     # 🌱 Virtual environment folder
pip-log.txt               # 📝 Pip log files
pytest_cache/             # 🧪 pytest cache
.tox/                     # 🧪 tox testing folder
.coverage                 # 📊 Coverage report files
dist/                     # 📦 Distribution folder
build/                    # 🏗️ Build folder
